/*CSS for the shapes can be found at 
https://css-tricks.com/the-shapes-of-css/ */
.circle {
  height: 50%;
  width: 50%;
  background-color: blue;
}

.square {
  height: 50%;
  width: 50%;
  background-color: orange;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 200px solid cyan;
}

/*star*/
.star {
  margin: 50px 0;
  position: relative;
  display: block;
  color: green;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid green;
  border-left: 100px solid transparent;
  transform: rotate(35deg);
}

.star:before {
  border-bottom: 80px solid green;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  position: absolute;
  height: 0;
  width: 0;
  top: -45px;
  left: -65px;
  display: block;
  content: "";
  transform: rotate(-35deg);
}

.star:after {
  position: absolute;
  display: block;
  color: green;
  top: 3px;
  left: -105px;
  width: 0px;
  height: 0px;
  border-right: 100px solid transparent;
  border-bottom: 70px solid green;
  border-left: 100px solid transparent;
  transform: rotate(-70deg);
  content: "";
}

/*star*/
/*heart*/
.heart {
  position: relative;
  width: 100px;
  height: 90px;
}

.heart:before,
.heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  border-radius: 50px 50px 0 0;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

/*heart*/
/*diamond*/
.diamond {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 70px solid violet;
  position: relative;
  top: -50px;
}

.diamond:after {
  content: "";
  position: absolute;
  left: -50px;
  top: 70px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top: 70px solid violet;
}

/*diamond*/
/*pentagon*/
.pentagon {
  position: relative;
  width: 54px;
  box-sizing: content-box;
  border-width: 50px 18px 0;
  border-style: solid;
  border-color: indigo transparent;
}

.pentagon:before {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  top: -85px;
  left: -18px;
  border-width: 0 45px 35px;
  border-style: solid;
  border-color: transparent transparent indigo;
}

/*pentagon*/
/*hexagon*/
.hexagon {
  width: 100px;
  height: 57.735px;
  background: yellow;
  position: relative;
}

.hexagon::before {
  content: "";
  position: absolute;
  top: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 28.8675px solid yellow;
}

.hexagon::after {
  content: "";
  position: absolute;
  bottom: -28.8675px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 28.8675px solid yellow;
}

/*hexagon*/
